@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: local('IBM Plex Sans'), url(../global-fonts/ibm-plex-sans/IBMPlexSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), url(../global-fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans'), url(../global-fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  src: local('IBM Plex Sans'), url(../global-fonts/ibm-plex-sans/IBMPlexSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans'), url(../global-fonts/ibm-plex-sans/IBMPlexSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Sans'), url(../global-fonts/ibm-plex-sans/IBMPlexSans-BoldItalic.ttf) format('truetype');
}
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/*
white: #fff;
black: #000;
yellow: #fab700;
indigo: #5d44f8;
*/

:root {
  --color-1: #fab700;
  --color-2: #5d44f8;
  --dark: #222;
  --selection-color: #ffdd81;
  --code-light-text-color: #fc4f4f;
}

*::selection {
 background: #ffdd81;
}

html {
  scroll-behavior: smooth;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

* {
  font-size: 1.125rem;
}

.text-xs {
  font-size: .875rem;
}

.text-sm {
  font-size: 1rem;
}

.text-base {
  font-size: 1.125rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-2xl {
  font-size: 1.875rem;
}

.text-3xl {
  font-size: 2.25rem;
}

.text-4xl {
  font-size: 3rem;
}

.text-5xl {
  font-size: 4rem;
}

.text-6xl {
  font-size: 5rem;
}

div.mermaid {
  background: white;
  padding: 5px 10px;
  border-radius: 10px;
}

figcaption > a {
  font-size: .875rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: disc outside;
}

ul > li {
  margin-left: 1em;
  padding-left: 0.1em;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #fab700;
}

p {
  line-height: 1.25em;
  margin: 0.25em 0 1em 0;
}

h1 {
  letter-spacing: -1px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h4, h5, h6 {
  margin: -10px 0;
}

#navbar {
  background: white;
  box-shadow: 0px 0px 2px #000;
}

#navbar a {
  color: black;
}

img {
  margin: 20px auto;
  display: block;
}

pre {
  background: #ddd;
  border-radius: 3px;
  padding: 10px;
}

code {
  font-family: monospace;
  background: #eee;
  padding: 0 5px;
  border-radius: 5px;
  color: #fc4f4f;
}

.hint {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #fab700;
  cursor: pointer;
}

.keyboard {
  margin: 10px auto;
  height: 30vh;
  max-width: 98%;
  display: flex;
  justify-content: center;
}

.keyboard.octave > .note.black{
  margin: 0 -6%;
}

.keyboard.ten > .note.black {
  margin: 0 -5%;
}

.note {
  flex: 1;
  display: inline-flex;
  align-items: center;
  max-width: 20%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.note.black {
  justify-content: center;
  position: relative;
  height: 70%;
  background-color: #474747;
  color: white;
  width: 8%;
  max-width: 12%;
  margin: 0 -7%;
}

.note.white {
  flex-flow: column;
  justify-content: flex-end;
  outline: 3px solid #474747;
  color: #474747;
  background-color: #ffffff;
  padding-bottom: 1%;
}

.note.white.emphasized {
  background-color: #00f;
  color: white;
}

.note.black.emphasized {
  background-color: rgb(0, 0, 114);
  color: white;
}

.note.white.pressed {
  background-color: #f00 !important;
  color: white;
}

.note.black.pressed {
  background-color: rgb(114, 0, 0) !important;
  color: white;
}

.note.white.emphasized.pressed {
  background-color: #f00;
  color: white;
}

.note.black.emphasized.pressed {
  background-color: rgb(114, 0, 0);
  color: white;
}

button {
  border-width: 0;
  padding: 10px 60px;
  text-align: center;
  font-size: 1.25em;
}

button.centered {
  margin: 0 auto;
  display: block;
}

button.melody {
  background: black;
  color:white;
}

.code-block  {
  background: #eee;
}

.code-block * {
  text-shadow: none;
}

@media only screen and (max-width: 375px) {

  /*
    iPhone X, 6, 7, 8
  */

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.25em;
  }

  .note.black {
    width: 7%;
    margin: 0 -6%;
  }

  .keyboard.octave > .note.black{
    margin: 0 -5.5%;
  }

}

@media only screen and (max-width: 320px) {

  /*
    iPhone 5
  */

  #logo {
    font-size: 1em;
  }

  .navbar-right {
    font-size: 0.75em;
  }

  #header > h1 {
    margin-left: 0;
  }
}

.links-page #logo {
  font-size: 3em;
}

@media (prefers-color-scheme: dark) {

  *::selection {
    background: #5d44f8;
   }

  html, body {
    background-color: #222;
    color: white;
  }

  svg:not(.force-default-colors) path {
    fill: white;
  }

  img {
    filter: grayscale(20%);
  }

  a {
    color: white;
  }

  #navbar {
    background: #222;
    box-shadow: 0px 0px 2px #fff;
  }

  #navbar a {
    color: white;
  }

  #body > pre {
    background: #222;
  }

  code {
    background: #555;
    color: #fa9c9c;
  }

  .code-block {
    background: #ddd;
  }

  div.mermaid {
    background: #fee;
  }

  #newsletterSignupForm {
    border-color: #fff;
  }
  
  #newsletterSignupBtn {
    background: white;
    color: black;
  }

  button.melody {
    color: black;
    background: rgb(216, 216, 216);
  }
}